h2, h3 {
	text-align: center;
}

.reg_form {
	width: 500px;
	margin: 0 auto;
}

.account_form {
	margin: 0 auto;
}
.account_form.signup{ width: 300px; }
.account_form.signin{ width: 400px; }

.input_wrapper {
	text-align: right;
}

.input_wrapper.center {
	text-align: center;
}

.input_wrapper.left {
	text-align: left;
}

.account_error {
	color: red;
}

.form_input {
	border: 1px;
}

.third_parties {
	list-style-type: none;
	width: 300px;
	margin: 0 auto;
}

.openid {
	width: 90%;
}