.start { background: url('images/icons/player_play.png') no-repeat; }
.stop { background: url('images/icons/player_stop.png') no-repeat; }
.restart { background: url('images/icons/refresh.png') no-repeat; }
.terminate { background: url('images/icons/trash.png') no-repeat; }