body {
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #00B1E8;
	font-family: Verdana, Arial, Sans-Serif;
}

#header {
	padding: 50px 3em 4em;
	font: 17px "Times New Roman", Times, serif;
	color: grey;
	background: #fff url('/css/images/logo.png') no-repeat 6em 30px;
}

.title {
	margin-left: 255px;
	vertical-align: middle;
}

#main {
	padding: 4em 0;
	background: #fff url('/css/images/gray_background.png') repeat-x;
	border-top: 2px solid #C5D4D8;
	border-bottom: 2px solid #6DCFF6;
	position: relative;
	z-index: 4;
}

.selection_message, .error_message {
	margin: 0 0 2em;
	text-align: center;
	font: 24px Verdana, Arial, Sans-Serif;
}
.selection_message { color: #009CDC; }
.error_message { color: red; }

.selections {
	width: 900px;
	margin: 0 auto;
}

.selection_item {
	display: block;
	float: left;
	width: 250px;
	margin: 2em 25px 5em;
	text-decoration: none;
	outline: none;
}
.selection_item.disabled { opacity: 0.5; }

.control {
	display: block;
	background: url('/css/images/controls.png') no-repeat scroll;
}

.control.selection_button, .control.reject_button {
	width: 232px;
	height: 50px;
	padding: 8px 0;
	text-align: center;
	text-decoration: none;
}

.control.selection_button {
	background-position: 0 0;
	color: white;
}
.control.reject_button {
	background-position: 0 -115px;
	color: #009CDC;
}
.control.selection_button.small, .control.reject_button.small { font: normal 1.5em/2em Verdana, Arial, Sans-Serif; }
.control.selection_button.big, .control.reject_button.big { font: bold 1.2em/1.3em Verdana, Arial, Sans-Serif; }

.control.arrow {
	float: left;
	width: 20px;
	height: 19px;
	margin: 3em 4em 0;
	background-position: -178px -71px;
}

#login_form {
	position: absolute;
	top: 10px;
	right: 4em;
	text-align: right;
}

.control.input {
	display: inline-block;
	border: none;
	width: 152px;
	height: 20px;
	padding: 1px 10px;
	background-position: 0 -188px;
	outline: none;
}

.selection_image {
	display: block;
	margin: 0 0 3px 25px;
	text-indent: -9999px;
}

.selected_item {
	float: left;
}

.selection_text {
	font: 20px Verdana, Arial, Sans-Serif;
	color: #009CDC;
	text-align: center;
}

.tenstack {
	height: 53px;
	background: url('/css/images/tenstacks.png') no-repeat scroll;
}
.tenstack.business { background-position: 0 0; width: 80px; }
.tenstack.enterprise { background-position: -85px 0; width: 60px; }
.tenstack.web { background-position: -160px 0; width: 90px; }

.deployment {
	height: 52px;
	background: url('/css/images/deployments.png') no-repeat scroll;
}
.deployment.desktop { background-position: 0 0; width: 102px; }
.deployment.enterprise { background-position: -112px 0; width: 80px; }
.deployment.cloud { background-position: -205px 0; width: 140px; }

.os {
	height: 53px;
	background: url('/css/images/os.png') no-repeat scroll;
}
.os.linux { background-position: 0 0; width: 70px; }
.os.windows { background-position: -77px 0; width: 78px; }
.os.mac { background-position: -172px 0; width: 67px; }

.vm {
	height: 53px;
	background: url('/css/images/vm.png') no-repeat scroll;
}
.vm.vmware { background-position: 0 0; width: 110px; }
.vm.citrix { background-position: -123px 0; width: 120px; }
.vm.kvm { background-position: -260px 0; width: 130px; }

.providers {
	height: 53px;
	background: url('/css/images/providers.png') no-repeat scroll;
}
.providers.gogrid { background-position: 0 0; width: 118px; }
.providers.rackspace { background-position: -130px 0; width: 110px; }
.providers.amazon { background-position: -245px 0; width: 125px; }

#helper {
	position: absolute;
	z-index: 5;
	right: 0; top: 240px;
	width: 38px;
	height: 36px;
	background: #009CDC url('/css/images/helper.png') no-repeat right top;
	opacity: 0.5;
	color: white;
	overflow: hidden;
	cursor: pointer;
}

#helper .help_header {
	display: inline-block;
	text-align: center;
	margin: 0.8em 0 0 2.5em;
	font-weight: bold;
	border-bottom: 2px dashed white;
}

#helper .help_message {
	display: block;
	text-align: justify;
	text-indent: 1.5em;
	margin: 1em;
	overflow-y: auto;
}

.confirm_dialogue {
	width: 600px;
	margin: 2em auto;
}

.confirm_dialogue a.control.small {
	float: left;
	margin: 0 1em;
}

#footer {
	padding: 0 3em;
	height: 150px;
	background: url('/css/images/blue_background.png') repeat-x;
	position: relative;
	z-index: 3;
}

#menu {
	margin-left: 3em;
	padding-top: 2em;
	font: bold 13px Arial, Verdana, Sanf-serif;
}

#menu .item {
	display: inline-block;
	padding: 0 0 0.1em 0.1em;
	border-bottom: 1px dashed white;
	margin-right: 1em;
	color: white;
	text-decoration: none;
}

.social_icon {
	display: block;
	width: 32px;
	height: 26px;
	float: right;
	margin: 0 0 0 1em;
	border: 2px solid white;
	border-top: none;
	position: relative;
	top: -12px;
	opacity: 0.5;
	text-indent: -9999px;
}

.social_icon.rss {background-position: 0 -73px; }
.social_icon.facebook {background-position: -37px -73px; }
.social_icon.twitter {background-position: -75px -73px; }

#copyright {
	display: block;
	position: absolute;
	right: 4em;
	bottom: 2em;
	font: 12px Arial, Verdana, Sans-Serif;
	color: white;
}

.overlay {
	display: none;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	width: auto;
	height: auto;	
}

.overlay.back {
	z-index: 10;
	background: #000;
}

.overlay.front {
	z-index: 11;
	background: #fff;
	margin: 5em 20%;
	padding: 2em;
}

.help_title {
	color: #009CDC;
	font-weight: bold;
	display: block;
	margin-bottom: 1em;
}

.clearfix { clear: both; }