h2, h3 {
	text-align: center;
}

.reg_form {
	width: 500px;
	margin: 0 auto;
}

.account_form {
	margin: 0 auto;
}
.account_form.signup{ width: 300px; }
.account_form.signin{ width: 400px; }

.input_wrapper {
	text-align: right;
	padding: 0;
	margin: 1em 0 0.2em 0;
}

.center {
	text-align: center;
}

.account_success { color: green; }
.account_error {
	color: red;
	padding: 0;
	margin: 0;
	font-size: 0.8em;
}

.form_input {
	border: 1px;
}

.centered {
	display: inline-block;
	vertical-align: middle;
}

.third_parties {
	list-style-type: none;
	width: 300px;
	margin: 0 auto;
}

.third_party {
	float: left;
}
.third_party.big {
	width: 43px;
	height: 44px;
	margin-left: 1em;
}
.third_party.big.facebook { background-position: 1px -213px; }
.third_party.big.facebook:hover { background-position: 0 -261px; }
.third_party.big.twitter { background-position: -54px -213px; }
.third_party.big.twitter:hover { background-position: -55px -261px; }
.third_party.big.openid { background-position: -109px -213px; }
.third_party.big.openid:hover { background-position: -110px -261px; }
.third_party.big.google { background-position: -164px -213px; }
.third_party.big.google:hover { background-position: -165px -261px; }

.third_party.small {
	width: 26px;
	height: 26px;
	margin-right: 20px;
}
.third_party.small.facebook { background-position: 0 -312px; }
.third_party.small.facebook:hover { background-position: 0 -343px; }
.third_party.small.twitter { background-position: -31px -312px; }
.third_party.small.twitter:hover { background-position: -31px -343px; }
.third_party.small.openid { background-position: -63px -312px; }
.third_party.small.openid:hover { background-position: -63px -343px; }
.third_party.small.google { background-position: -94px -312px; }
.third_party.small.google:hover { background-position: -94px -343px; }

.third_party .social {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-indent: -9999px;
	outline: none;
	text-align: left;
}

.signin_social {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.openid_url {
	width: 90%;
}

.linked_account {
	text-align: center;
	margin-bottom: 0.5em;
}
.linked_account .picture { float: none; }
.linked_account .caption { vertical-align: middle; }
.linked_account .linked_link { display: block; }

.profile_content {
	margin: 1em 2em;
}

#footnote {
	position: absolute;
	text-align: center;
}

#details-panel p, #details-panel h2 {
	padding: 0.5em;
}

.grid-loader {
	background: url('images/grid_loader.gif') no-repeat 0.5em center;
	text-indent: 20px;
}

/* styles for extjs SuperBoxSelect plugin */
.x-superboxselect {position:relative; height: auto !important; margin: 0px; overflow: hidden; padding:2px; display:block; outline: none !important;}
.x-superboxselect input[disabled] {background-color: transparent;};
.x-superboxselect ul {overflow: hidden; cursor: text;}
.x-superboxselect-display-btns {padding-right: 33px !important;}
.x-superboxselect-btns {position: absolute; right: 1px; top: 0; overflow:hidden; padding:2px;}
.x-superboxselect-btns div {float: left; width: 16px; height: 16px; margin-top: 4px;}
.x-superboxselect-btn-clear {background: url(images/icons/clear.png) no-repeat scroll left 0px;}
.x-superboxselect-btn-expand {background: url(images/icons/expand.png) no-repeat scroll left 0px;}
.x-superboxselect-btn-over {background-position: left -16px}
.x-superboxselect-btn-hide {display:none;}
.x-superboxselect li {float: left; margin: 1px 1px 2px 1px; padding: 0;line-height: 18px;}
.x-superboxselect-stacked li {float: none !important;}
.x-superboxselect-input input { border: none; outline: none; margin-top: 4px; margin-bottom: 4px;}
body.ext-ie .x-superboxselect-input input {background: none; border: none; margin-top: 3px;}
.x-superboxselect-item {position: relative; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; o-border-radius: 6px; khtml-border-radius: 6px; border: 1px solid #CAD8F3; background-color: #DEE7F8; padding: 1px 15px 1px 5px !important; }
body.ext-ie7 .x-superboxselect-item {margin: 2px 1px 2px 1px; line-height: 1.2em; padding: 2px 17px 4px 5px !important;}
body.ext-ie6 .x-superboxselect-item {margin: 2px 1px 2px 1px; line-height: 1.2em; padding: 2px 19px 4px 5px !important;}
.x-superboxselect-item-hover {background: #BBCEF1; border: 1px solid #6D95E0;}
.x-superboxselect-item-focus {border-color: #598BEC; background: #598BEC; color: #fff;}
.x-superboxselect-item-close {background: url(images/icons/close.png) no-repeat scroll left 0px; border: none; cursor: default; font-size: 1px; height: 16px;padding:0; position: absolute; right: 0px; top: 2px; width: 13px;display:block;cursor:pointer;}

.x-superboxselect-item-close:hover, .x-superboxselect-item-close:active  { background-position: left -12px;}
.x-superboxselect-item-focus .x-superboxselect-item-close{ background-position: left -24px}
.x-item-disabled .x-superboxselect-item-close{ background-position: left -36px}