h2, h3 {
	text-align: center;
}

.reg_form {
	width: 550px;
	margin: 70px auto;
}

.account_form {
	margin: 0 auto;
}
.account_form.signup{ width: 550px; }
.account_form.signin{ width: 550px; }

.signup .login_submit {
	margin-left: 220px;
}

.have_account {
	padding-left: 150px;
	margin: 1em 0 0.2em 0;
}
.have_account a {
	margin: 0;
	padding-top: 3px;
}

.have_account_text {
	color: #8e8e8e;
	font-style: italic;
	font-weight: bold;
	font-size: 0.9em;
}

.input_wrapper {
	/*text-align: right;*/
	padding: 0;
	margin: 1em 0 0.2em 0;
}

.text_input_wrapper {
	margin-top: 25px;
}

.text_input_wrapper label {
	text-align: right;
	float: left;
	width: 150px;
	padding-right: 5px;
	padding-top:2px;
	font-size: 0.95em;
}

.text_input_wrapper input {
	background: url("/css/images/input_field.png") no-repeat scroll 0 0 transparent;
	width: 300px !important;
	background-position: 0px 0px !important;
}

.remember_forgot {
	float: left;
	font-size: 0.9em;
	padding-left: 155px;
}

.remember_forgot input {
	padding-top: 3px;
}

.sign_in_button {
	float:right;
	padding-top: 10px;
}

.sign_in_button input {
		margin-right:0px !important;
}

.sign_in_settings {
	width: 455px;
}

.forgot {
	display: block;
	padding-top: 5px;
}

.no_account{
	padding-top: 25px;
	padding-left: 155px;
	clear: both;
	font-size: 0.9em;
}

.no_account a {
	margin: 0px;
	padding-left: 0px;
}

.no_account_text {
	color: #8e8e8e;
	font-style: italic;
	font-weight: bold;
}

.center {
	text-align: center;
}

.account_success { color: green; }
.account_error {
	color: red;
	padding: 0;
	margin: 0;
	font-size: 0.8em;
}

.form_input {
	border: 1px;
}

.centered {
	display: inline-block;
	vertical-align: middle;
}

#third_party_small, #third_party_big {
	float: right;
	position: relative;
	left: -50%;
	text-align: left;
}

.signin_social {
	list-style-type: none;
	/*position: relative;
	left: 50%;*/
	margin: 0;
	padding: 0;
}

.third_parties {
	list-style-type: none;
	position: relative;
	left: 50%;
	margin: 0;
	padding: 0;
}

.third_party {
	float: left;
	position: relative;
}
.third_party.big {
	width: 43px;
	height: 44px;
	margin: 0 0.5em;
}
.third_party.big.facebook { background-position: 1px -213px; }
.third_party.big.facebook:hover { background-position: 0 -261px; }
.third_party.big.twitter { background-position: -54px -213px; }
.third_party.big.twitter:hover { background-position: -55px -261px; }
.third_party.big.openid { background-position: -109px -213px; }
.third_party.big.openid:hover { background-position: -110px -261px; }
.third_party.big.google { background-position: -164px -213px; }
.third_party.big.google:hover { background-position: -165px -261px; }

.third_party.small {
	width: 26px;
	height: 26px;
	margin-right: 20px;
}
.third_party.small.facebook { background-position: 0 -312px; }
.third_party.small.facebook:hover { background-position: 0 -343px; }
.third_party.small.twitter { background-position: -31px -312px; }
.third_party.small.twitter:hover { background-position: -31px -343px; }
.third_party.small.openid { background-position: -63px -312px; }
.third_party.small.openid:hover { background-position: -63px -343px; }
.third_party.small.google { background-position: -94px -312px; }
.third_party.small.google:hover { background-position: -94px -343px; }

.third_party .social {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-indent: -9999px;
	outline: none;
	text-align: left;
}

.openid_url {
	width: 90%;
}

.linked_account {
	text-align: center;
	margin-bottom: 0.5em;
}
.linked_account .picture { float: none; }
.linked_account .caption { vertical-align: middle; }
.linked_account .linked_link { display: block; }

.profile_content {
	margin: 1em 2em;
}

#details-panel p, #details-panel h2 {
	padding: 0.5em;
}

.grid-loader {
	background: url('images/grid_loader.gif') no-repeat 0.5em center;
	text-indent: 20px;
}
ul.errors li {
	list-style-type: none;
	color: red;
	font-size: 12px;
}

/* Styles used by Ext.ux.form.ItemSelector */

.x-form-itemselector-body .x-form-item {
    margin: 0;
}

.x-form-itemselector-top {
    background-image: url('./images/ext/ux/itemselector/top2.gif');
}
.x-form-itemselector-up {
    background-image: url('./images/ext/ux/itemselector/up2.gif');
}
.x-form-itemselector-add {
    background-image: url('./images/ext/ux/itemselector/right2.gif');
}
.x-form-itemselector-remove {
    background-image: url('./images/ext/ux/itemselector/left2.gif');
}
.x-form-itemselector-down {
    background-image: url('./images/ext/ux/itemselector/down2.gif');
}
.x-form-itemselector-bottom {
    background-image: url('./images/ext/ux/itemselector/bottom2.gif');
}