form#payment, .payment.container {
	display: block;
	margin: 0 auto;
	width: 500px;
	text-align: left;
}
form#payment label{
	font-size: 0.9em;
	color: #098ED3;
}
form#payment input,
form#payment select{
	display: inline-block;
}
form#payment ul.errors{
	padding: 0;
	margin: 0.2em 0;
}
.control.paypal {
	background: #EFF3F2;
  border: medium none;
  padding: 5px;
	display: inline;
	margin-left: 5px;
}
.text.paypal {
	display: block;
	padding: 0.4em 0 0.2em 40px;
	font-size:0.9em;
}
#month-element {
	float: left;
}
#year-label{
	display: none;
}
#year-element {
	display: inline-block;
	margin: 0 10px;
	clear: both;
}
.payment.finished{
	padding: 2em 2em 0;
	text-align: center;
}
.payment.finished.link{
	padding: 1em 0 0;
	text-align: center;
}
#submit-element{
	margin-top: 20px;
	text-align: center;
}
.selection.payment.type {
	width:  612px;
	margin: 0 auto;
}
.pay_cc {
    background: url("/css/images/pay_cc.png") no-repeat scroll 0 0 transparent;
    height: 67px;
}
.pay_cc.onetime {
    background-position: 0 0;
    width: 80px;
}
.pay_cc.monthly {
    background-position: -105px 0;
    width: 80px;
}
.payment.plan {
	margin: 1em 40px;
	text-align: center;
}
.payment.label {
	font-size: 0.9em;
	/*color: #098ED3;*/
	margin: 0.3em 0;
	float: left;
	width: 170px;
	text-align: right;
}
#year-element ul{
	display: block;
	padding-left: 0px;
}

#year-element ul li {
	padding-left: 0px;
}

.payment .amount-field {
	margin-bottom: 10px;
}

.payment.descr {
		font-size: 0.85em;
		margin-top: 20px;
}

/*.payment .selection_image
{
	margin-left: 75px;
}*/

.payment .amount-field dt {
	display: inline;
	float: left;
	width: 230px;
	text-align: right;
}

.payment .amount-field dd {
	display: inline;
	margin-left: 5px;
}

.field-descr {
	text-align: left;
	padding-left: 240px;
	font-size: 0.8em;
}

ul.errors {
	margin-top: 5px;
	margin-bottom: 5px;
}

ul.errors li {
	text-align: left;
	padding-left: 200px;
}